/* *::before,
*::after {
  box-sizing: border-box;
} */
/* 
h2 {
  margin: 0;
}

article {
  max-width: 375px;

  font-family: system-ui;
  border: 1px solid #555;
  color: black;
  border-radius: 4px;
} */

.title {
  font-weight: 600;
  font-size: 24px;
  padding: 16px;
}

.content {
  padding-inline: 1rem;
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s grid-template-rows ease-in-out;
}

article:hover .content {
  grid-template-rows: 1fr;
}

.content > div {
  overflow: hidden;
}
