.headerContainer {
    height: 3rem;
    margin: 1rem 0.5em 0 0.5em;
    
    gap: 24px;
    border: 3px solid black;
  
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
      grid-gap: 0.5rem;
  }
  
  
  .movieContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      grid-gap: 1rem;
  }
  
  .cardMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cardMovies:hover{
    width: 2rem;
    height: 2rem;
  }