.titleHome{
 

  fill-opacity: 0;
		stroke-dasharray: 1700;
		stroke-dashoffset: 1700;
		animation: dash 1.5s ease-in forwards;
   
}

@keyframes dash {
  40%{
    fill-opacity: 0;
  }
  70% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 100%;
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}

.headerContainer {
    
    margin: 0 0 1em;
    background-color: aquamarine;
    gap: 24px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
      grid-gap: 0.5rem;
  }
  
  
  .movieContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      grid-gap: 1rem;
  }
  
  .cardMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  /* effect */
  .content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s grid-template-rows ease-in-out;
  }
  
  .showSearchInput {
    grid-template-rows: 1fr;

    
  }
  
  .content > div {
    overflow: hidden;
  }
  

