  
  .movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    grid-gap: 1rem;
}

.cardMovies {
  display: grid;
   grid-template-rows: 2fr;
  /* grid-column: span 4 / span 4; */
}

.pagButtonsContainer{
    display: flex;
    grid-gap: 0.5rem;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 0;
  }

  .pagButtons{
    padding: 1 rem;
    background-color: blueviolet;
    width: 2.5rem;
    border-radius: 0.4rem;
  }

  .img{
    object-fit: cover;
    width: 20rem;
    min-height: 100%;
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
  }

  .show{
    opacity: 1;
  }