.container {
  overflow-x: hidden;
  height: 60%;
}

.swiper {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
  
}

.metaDataBar {
  /* display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 1rem;
    margin: 1rem 0 1rem;
    background-color: aquamarine; */
  flex: 1 0 auto;
  margin: 0 1rem;
  background-color: aqua;
  cursor: pointer;
  border: 0.5px ridge black;
  padding: 0.8rem;
}

.content {
  border: 2px solid red;
}

.plot{
  margin-top: 0.5rem;
}

.metaDataBar:hover{
  background-color: bisque;
}

.swiper::-webkit-scrollbar {
  background-color: transparent;
}
