.modalContainer{
    width: 80%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    
    /* backdrop-filter: blur(15px); */
    backdrop-filter:invert(80%);
    top: 0;
    
    transition: all 1s;
}

.modalOpen{
    transform: translate(25rem);
    
    
}